.gallery-container {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.image-frame {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ddd;
}

.image {
    width: 200px;
    height: 200px;
}