/* UserProfile.css */
.user-profile {
    margin: 0 auto;
    padding: 1.25rem;
    background-color: rgba(170, 244, 247, 0.7);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 5rem;
    height: 5rem;
    border-radius: 1.25rem;
    margin-left: 0.9375rem;
  }
  
  .profile-details {
    margin-left: 0.94rem; 
  }
  
  .username {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .description {
    margin: 0.625rem 0;
    max-width: 18.75rem;
  }
  
  .settings {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
  }
  
  .buttons {
    background-color: #101310;
    color: white;
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 0.75rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
    margin-right: 0.625rem;
  }
  
  .buttons:hover {
    background-color: grey;
  }


/* posts section*/

.user-posts {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.25rem;
    justify-content: flex-start;
    margin-top: 1.25rem;
  }
  
  .post {
    border: 1px solid #ddd;
    padding: 0.625rem;
    margin: 1px;
    width: 30%;
    height: 18.75rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post-image {
    max-width: 100%;
    height: auto;
  }
  
  .post-details {
    margin-top: 10px;
    text-align: center;
  }
  
  .post-caption {
    font-weight: bold;
    margin: 0.3125rem 0;
  }


/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.25rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200%; /* Adjust this value as needed */
    overflow: auto; /* Allow scrolling if content overflows */
  }
  
  .modal-image {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 0.625rem;
  }
  
  .modal-details {
    text-align: center;
    margin-bottom: 0.625rem;
  }
  
  .modal-close {
    background-color: #101310;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .modal-close:hover {
    background-color: #313131;
  }