/* UserProfile.css */
.user-profile {
    margin: 0 auto;
    padding: 1.25rem;
    background-color: rgba(170, 244, 247, 0.7);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 5rem;
    height: 5rem;
    border-radius: 1.25rem;
    margin-left: 0.9375rem;
  }
  
  .profile-details {
    margin-left: 0.94rem; 
  }
  
  .username {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .description {
    margin: 0.625rem 0;
    max-width: 18.75rem;
  }
  
  .settings {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
  }
  
  .buttons {
    background-color: #101310;
    color: white;
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 0.75rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
    margin-right: 0.625rem;
  }
  
  .buttons:hover {
    background-color: grey;
  }


/* posts section*/

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.image-frame {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
}

.image {
  width: 200px;
  height: 200px;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.25rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%; 
  max-height: 80vh; 
  overflow-y: auto; 
}

.modal-image {
  max-width: 100%;
  max-height: 30vh; 
  border-radius: 0.5rem;
  margin-bottom: 0.625rem;
}

.modal-details {
  text-align: center;
  margin-bottom: 0.625rem;
}

.like-button {
  background-color: #57f865; 
  color: white; 
  border: none;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem; 
  cursor: pointer;
  border-radius: 0.25rem;
}

.like-button:hover {
  background-color: #0056b3; 
}

.dislike-button {
  background-color: #f5613c; 
  color: white; 
  border: none;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem; 
  cursor: pointer;
  border-radius: 0.25rem;
}

.dislike-button:hover {
  background-color: #0056b3; 
}
  .modal-close {
    background-color: #101310;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }

  
  
  .modal-close:hover {
    background-color: #313131;
  }